@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;1,200&display=swap');

$bgColor: #0F172A; /* 293462 */
$color_01: #1CD6CE;
$color_02: #FEDB39;
$color_03: #D61C4E;

* { margin: 0; padding: 0; font-family: "Nunito"; box-sizing: border-box; }
a {
    color: unset;
    display: inline-block !important;
    text-decoration: none !important;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);

    &:hover {
        color: $color_02;
    }
}
ul {
    list-style-type: none;
}
h1 {
    color: $color_03;
}
html, body {
    height: 100%;
    width:  100vw;
    overflow-x: hidden;
}
body {
    color: $color_01 !important;
    background: $bgColor;
    font-weight: 200;
}
